{% extends 'wechat/base.html' %}
{% load staticfiles %}
{% load display_info %}

{% block title %}
    出错了！
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="alert alert-danger text-center" role="alert">对不起，出错了: {{ errcode }} - {{ errmsg }}</div>
        </div>
    <a class="btn btn-danger center-block" href="javascript:void(0)" id="closeWindow">关闭窗口</a>
    </div>
{% endblock %}

{% block js %}
    <script>

var readyFunc = function onBridgeReady() {
    var curid;
    var curAudioId;
    var playStatus = 0;


    // 关闭当前webview窗口 - closeWindow
    document.querySelector('#closeWindow').addEventListener('click', function(e){
    	WeixinJSBridge.invoke('closeWindow',{
        },function(res){

            //alert(res.err_msg);

       });
    });

};

if (typeof WeixinJSBridge === "undefined") {
  document.addEventListener('WeixinJSBridgeReady', readyFunc, false);
} else {
  readyFunc();
}

</script>
{% endblock %}