{% extends 'wechat/base.html' %}
{% load staticfiles %}
{% load display_info %}

{% block title %}
    用户信息
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <td colspan="2"><img src="{{ headimgurl|avatar }}" class="img-responsive center-block" alt="Responsive image"></td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-user"></span>  昵称</td>
                    <td>{{ nickname }}</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-heart"></span>  性别</td>
                    <td>{{ sex|sex }}</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-globe"></span>  地区</td>
                    <td>{{ country }} {{ province }} {{ city }}</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-certificate"></span>  特权</td>
                    <td>{{ privilege|privilege }}</td>
                </tr>
            </table>
        </div>
{#        {{ openid }}#}
{#        {{ nickname }}#}
{#        {{ sex }}#}
{#        {{ province }}#}
{#        {{ city }}#}
{#        {{ headimgurl }}#}
    </div>


{% endblock %}